<html>
<head>
	<meta charset="UTF-8"></meta>
	<title>Cadastro de Usuarios</title>
			<script type="text/javascript" src="../js/jquery.js"></script>
			<script type="text/javascript" src="../js/bootstrap.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>
			
	
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../css/principal.css">
			<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</head>
<body>

	<div id="cabecalho">
		<font>Nome do Restaurante</font>
	</div>
<div id="centro">
	<section>
			 
					<div class="row-fluid">
			            <div id="navbar" class="navbar navbar-inverse">
			              <div class="navbar-inner">
			                <div class="container" style="width: auto;">

			                  <ul class="nav" role="navigation" style="position: relative; left: 70px;">

				                    <li class="dropdown">
					                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
					                      	Cadastrar
					                      <b class="caret"></b></a>
						                      <ul class="dropdown-menu">
						                        <li><a  href="Employee.html">Produtos Venda</a></li>
						                        <li><a  href="Job.html">Produtos Compra</a></li>
						                        <li><a  href="Project.html">Fornecedores</a></li>
						                        <li><a  href="Customer.html">Usuarios</a></li>           
						                      </ul>
				                    </li>

				                    <li class="dropdown">
				                      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Relatórios<b class="caret"></b></a>
				                      
					                     <ul class="dropdown-menu" class="active">
					                        <li><a href="MentorReport.html">report of Mentors X Tutor </a></li>
					                        <li><a href="ProjectReport.html">report of Employees X Project</a></li>					                     
					                      </ul>

				                    </li>

				                    <li >
				                      <a href="#" role="button" >Map</a>
				                    </li>
			                  </ul>
			                 
			                </div>
			              </div>
			            </div> 
			          </div>
			      
			        
			   </section> 

			   <div id="form">
			   		<div id="form-title"> 
			   			<label><font style="font-size: 18; color: #555555; position:relative; top:18%;"><center><br />Cadastro de Fornecedores</center></font></label>
			   		</div>
			   		<div id="form-left">

			   		</div>
			   		<form class="form-horizontal">
			   		<fieldset>
			   			<legend>informações iniciais</legend>
						   <table class="form">
								<tr>
									<td>
										<label>Nome</label>
										<input type="text" placeholder="razão social"/>
									</td>
								</tr>
								<tr>
									<td>
										<label>nome de usuario</label>
										<input type="text" class="input-xxlarge" placeholder="nome fantasia"/>
									</td>
								</tr>
								<tr>
									<td>
										<label>senha</label>
										<input type="password" class="input-large" placeholder="use letras, numeros e caracteres especiais"/>
									</td>
								</tr>
								<tr>
									<td>
										<label>senha</label>
										<input type="password" class="input-large" placeholder="digite novamente a senha"/>
									</td>
								</tr>
								</tr>
							</table>

					</fieldset>
					</form>
				</div>
	</div>

	<div id="rodape">

	</div>

	<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</body>
</html>

	<table>
		<tr>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			</td>
		</tr>
	</table>