<html>
<head>
	<meta charset="utf-8">
	<title>Insumos</title>
			<script type="text/javascript" src="../js/jquery.js"></script>
			<script type="text/javascript" src="../js/bootstrap.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>
			
	
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../css/principal.css">
			<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</head>
<body>

	<div id="cabecalho">
		<font>Nome do Restaurante</font>
	</div>
<div id="centro">
	<section>
			 
			            <div id="navbar" class="navbar navbar-inverse">
			              <div class="navbar-inner">
					              <ul class="nav" role="navigation" style="position: relative; left: 2.5%;">

					                    <li class="dropdown">
						                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						                      	Compras
						                      <b class="caret"></b></a>
							                      <ul class="dropdown-menu">
							                        <li><a  href="Insumos.html">Produtos</a></li>
							                        <li><a  href="Fornecedor.html">Fornecedores</a></li>     
							                      </ul>
					                    </li>
				                   
				   
				                    <li class="dropdown">
						                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						                      	Vendas
						                      <b class="caret"></b></a>
							                      <ul class="dropdown-menu">
							                        <li><a  href="Produtos.html">Produtos</a></li>
							                        <li><a  href="Fornecedor.html">Fornecedores</a></li>     
							                      </ul>
					                    </li>
				        
				                    <li >
					                      <a href="#">
					                      	Faturamento
					                      </a>
				                    </li>
				            
				                    <li >
					                      <a href="#">
					                   		Gerencia
					                   	  </a>
				                    </li>
				              </ul>

			                </div>
			              </div>
			            
			      
			        
			   </section> 

			   <div id="form">
			   		<div id="form-title"> 
			   			<label><font style="font-size: 1.6em; color: #000000;"><center><br />Cadastro de Ingredientes</center></font></label>
			   		</div>
			   		

			   			<div class="tabbable tabs-left">
						  <ul class="nav nav-tabs" style="	background: #fcfff4; /* Old browsers */
															/* IE9 SVG, needs conditional override of 'filter' to 'none' */
															background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmNmZmY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjIlIiBzdG9wLWNvbG9yPSIjZGZlNWQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzYmVhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
															background: -moz-linear-gradient(45deg,  #fcfff4 0%, #dfe5d7 62%, #b3bead 100%); /* FF3.6+ */
															background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fcfff4), color-stop(62%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
															background: -webkit-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
															background: -o-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* Opera 11.10+ */
															background: -ms-linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* IE10+ */
															background: linear-gradient(45deg,  #fcfff4 0%,#dfe5d7 62%,#b3bead 100%); /* W3C */
															filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
															height: 91.7%;" >


						    <li class="active"><a href="#tab1" data-toggle="tab"><font color="#48990E">Cadastrar Ingrediente</font></a></li>
    						<li><a href="#tab2" data-toggle="tab"><font color="#48990E">Atualizar Ingrediente</font></a></li>
    						<li><a href="#tab3" data-toggle="tab"><font color="#48990E">Excluir Ingrediente</font></a></li>
						  </ul>
						  <div class="tab-content">
						    <div class="tab-pane active" id="tab1" >
						      <form class="form-horizontal">
			   		
						   <table class="form">
									<tr>
										<td>
											<label>Fornecedor</label>
											<div class="input-append">
											  <input class="input-xlarge" id="appendedInputButtons" type="text">
											  <button class="btn" type="button">Search</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label>Nome do produto</label>
											<input type="text" class="input-xxlarge" placeholder="nome do produto"/>
										</td>
									</tr>
									<tr>
										<td>
											<label>Nome reduzido</label>
											<input type="text" class="input-xlarge" placeholder="nome do produto reduzido"/>
										</td>
									</tr>
									<tr>
										<td>
											<label>Data de Validade</label>
											<input type="date" placeholder="selecione a data de validade"/>
										</td>
									</tr>
								</table>

							 	<table class="form" style="clear: both;">
									<tr>
										<td width="56%">
											<label>Quantidade</label>
											<input type="text" class="input-small" />
										</td>
								
										<td>
											<label>Preço</label>
											<input type="text" class="input-small" />
										</td>
									</tr>
								</table>
								<table class="form" style="clear: both;" >
									<tr>
										<td width="56%">
											<label>Categoria</label>
											<select>
												<option placeholder="selecione a categoria"></option>
											</select>
										</td>
								
										<td>
											<label>Unidade</label>
											<select>
												<option placeholder="selecione a unidade"></option>
											</select>
										</td>
									</tr>

									<tr>
									<td height="80px">
										<button class="btn" type="button">Salvar</button>
										<button class="btn" type="button">Cancelar</button>
									</td>
								</tr>
								</table>
							<table class="form" style="clear: both;">
								
							</table>



				
					</form>
						    </div>
						    <div class="tab-pane" id="tab2">
						      
						       <form class="form-horizontal">
			   		
						   <table class="form">
									<tr>
										<td>
											<label>Fornecedor</label>
											<div class="input-append">
											  <input class="input-xlarge" id="appendedInputButtons" type="text">
											  <button class="btn" type="button">Search</button>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label>Nome do produto</label>
											<input type="text" class="input-xxlarge" placeholder="nome do produto"/>
										</td>
									</tr>
									<tr>
										<td>
											<label>Nome reduzido</label>
											<input type="text" class="input-xlarge" placeholder="nome do produto reduzido"/>
										</td>
									</tr>
									<tr>
										<td>
											<label>Data de Validade</label>
											<input type="date" placeholder="selecione a data de validade"/>
										</td>
									</tr>
								</table>

							 	<table class="form" style="clear: both;">
									<tr>
										<td width="56%">
											<label>Quantidade</label>
											<input type="text" class="input-small" />
										</td>
								
										<td>
											<label>Preço</label>
											<input type="text" class="input-small" />
										</td>
									</tr>
								</table>
								<table class="form" style="clear: both;" >
									<tr>
										<td width="56%">
											<label>Categoria</label>
											<select>
												<option placeholder="selecione a categoria"></option>
											</select>
										</td>
								
										<td>
											<label>Unidade</label>
											<select>
												<option placeholder="selecione a unidade"></option>
											</select>
										</td>
									</tr>

									<tr>
									<td height="80px">
										<button class="btn" type="button">Salvar</button>
										<button class="btn" type="button">Cancelar</button>
									</td>
								</tr>
								</table>

				
					</form>
						    </div>
						    <div class="tab-pane" id="tab3">
						      <p>Olá, estou na seção 3</p>
						    </div>
						  </div>
						</div>

			
			   		
				</div>
	</div>

	<div id="rodape">

	</div>

	<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</body>
</html>




