<html>
<meta charset="UTF-8"></meta>
<head>
	<title>Ingredientes</title>
			<script type="text/javascript" src="../js/jquery.js"></script>
			<script type="text/javascript" src="../js/bootstrap.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>
			
	
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../css/principal.css">
			<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</head>
<body>

	<div id="cabecalho">
		<font>Nome do Restaurante</font>
	</div>
<div id="centro">
	<section>
			 
			            <div id="navbar" class="navbar navbar-inverse">
			              <div class="navbar-inner">
					              <ul class="nav" role="navigation" style="position: relative; left: 70px;">

					                    <li class="dropdown">
						                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						                      	Cadastrar
						                      <b class="caret"></b></a>
							                      <ul class="dropdown-menu">
							                        <li><a  href="Insumos.html">Produtos</a></li>
							                        <li><a  href="Fornecedor.html">Fornecedores</a></li>     
							                      </ul>
					                    </li>
				                    </li>
				   
				                    <li >
					                      <a href="#">
					                      	Vendas
					                      </a>
				                    </li>
				        
				                    <li >
					                      <a href="#">
					                      	Faturamento
					                      </a>
				                    </li>
				            
				                    <li >
					                      <a href="#">
					                   		Gerencia
					                   	  </a>
				                    </li>
				              </ul>

			                </div>
			              </div>
			            
			      
			        
			   </section> 
			   <div id="form"  > 

			   		<div id="form-title"> 
			   			 <ul>
			                  	<li>
									  <input type="text" class="search-query" placeholder="Busca">
								</li>
								<li >
					              	<a href="CadastroInsumo.html" style="position: relative; left: 65%">
					                	 <button type="submit" class="btn btn-success"><i class="icon-plus"></i> Adicionar</button>
					               	</a>
				                </li>
								
				                
				              </ul>
			   		</div>
					

					<table class="table table-striped" style="padding-top:4%;" >
						<tr>
							<td>
								<label><b>cod. produto</b></label>
							</td>
							<td>
								<label><b>marca</b></label>
							</td>
							<td>
								<label><b>data Validade</b></label>
							</td>
							<td>
								<label><b>quantidade</b></label>
							</td>
							<td width="20px" style="border-left: 1px solid #eeeeee;">
								<center><label><b>editar</b></label></center>
							</td>
							<td width="20px">
								<center><label><b>excluir</b></label></center>
							</td>
						</tr>
						<tr>
							<td>
								<label>Cod exemplo</label>
							</td>
							<td>
								<label>Marca exemplo</label>
							</td>
							<td>
								<label>local exemplo</label>
							</td>
							<td>
								<label>1</label>
							</td>
							<td style="border-left: 1px solid #eeeeee;">
								<center><a href=""><i class="icon-pencil"></i></a></center>
							</td>
							<td>
								<center><a href=""><i class="icon-trash"></i></a></center>
							</td>
						</tr>
						<tr>
							<td>
								<label>Cod exemplo</label>
							</td>
							<td>
								<label>Marca exemplo</label>
							</td>
							<td>
								<label>local exemplo</label>
							</td>
							<td>
								<label>1</label>
							</td>
							<td style="border-left: 1px solid #eeeeee;">
								<center><a href=""><i class="icon-pencil"></i></a></center>
							</td>
							<td>
								<center><a href=""><i class="icon-trash"></i></a></center>
							</td>
						</tr>
						<tr>
							<td>
								<label>Cod exemplo</label>
							</td>
							<td>
								<label>Marca exemplo</label>
							</td>
							<td>
								<label>local exemplo</label>
							</td>
							<td>
								<label>1</label>
							</td>
							<td style="border-left: 1px solid #eeeeee;">
								<center><a href=""><i class="icon-pencil"></i></a></center>
							</td>
							<td>
								<center><a href=""><i class="icon-trash"></i></a></center>
							</td>
						</tr>
					</table>
				</div>
		</div>

	<div id="rodape">

	</div>

	<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</body>
</html>




<html>
<meta charset="UTF-8"></meta>
<head>
	<title>Insumos</title>
			<script type="text/javascript" src="../js/jquery.js"></script>
			<script type="text/javascript" src="../js/bootstrap.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>
			
	
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../css/principal.css">
			<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</head>
<body>

	<div id="cabecalho">
		<font>Nome do Restaurante</font>
	</div>
<div id="centro">
	<section>
			 
					<div class="row-fluid">
			            <div id="navbar" class="navbar navbar-inverse">
			              <div class="navbar-inner">
			                <div class="container" style="width: auto;">

			                  <ul class="nav" role="navigation" style="position: relative; left: 70px;">

				                    <li class="dropdown">
					                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
					                      	Cadastrar
					                      <b class="caret"></b></a>
						                      <ul class="dropdown-menu">
						                        <li><a  href="Employee.html">Produtos Venda</a></li>
						                        <li><a  href="Job.html">Produtos Compra</a></li>
						                        <li><a  href="Project.html">Fornecedores</a></li>
						                        <li><a  href="Customer.html">Usuarios</a></li>           
						                      </ul>
				                    </li>

				                    <li class="dropdown">
				                      <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Relatórios<b class="caret"></b></a>
				                      
					                     <ul class="dropdown-menu" class="active">
					                        <li><a href="MentorReport.html">report of Mentors X Tutor </a></li>
					                        <li><a href="ProjectReport.html">report of Employees X Project</a></li>					                     
					                      </ul>

				                    </li>

				                   
			                  </ul>
			                 
			                </div>
			              </div>
			            </div> 
			          </div>
			      
			        
			   </section> 
				
			   <div id="form" style="padding:1%;">
					<table class="table">
						<tr>
							<td>
								<label><b>cod. produto</b></label>
							</td>
							<td>
								<label><b>marca</b></label>
							</td>
							<td>
								<label><b>data Validade</b></label>
							</td>
							<td>
								<label><b>quantidade</b></label>
							</td>
							<td>
								<center><label><b>editar</b></label></center>
							</td>
							<td>
								<center><label><b>excluir</b></label></center>
							</td>
						</tr>
						<tr>
							<td>
								<label>Cod exemplo</label>
							</td>
							<td>
								<label>Marca exemplo</label>
							</td>
							<td>
								<label>local exemplo</label>
							</td>
							<td>
								<label>1</label>
							</td>
							<td>
								<center><a href=""><i class="icon-pencil"></i></a></center>
							</td>
							<td>
								<center><a href=""><i class="icon-trash"></i></a></center>
							</td>
						</tr>
						<tr>
							<td>
								<label>Cod exemplo</label>
							</td>
							<td>
								<label>Marca exemplo</label>
							</td>
							<td>
								<label>local exemplo</label>
							</td>
							<td>
								<label>1</label>
							</td>
							<td>
								<center><a href=""><i class="icon-pencil"></i></a></center>
							</td>
							<td>
								<center><a href=""><i class="icon-trash"></i></a></center>
							</td>
						</tr>
						<tr>
							<td>
								<label>Cod exemplo</label>
							</td>
							<td>
								<label>Marca exemplo</label>
							</td>
							<td>
								<label>local exemplo</label>
							</td>
							<td>
								<label>1</label>
							</td>
							<td>
								<center><a href=""><i class="icon-pencil"></i></a></center>
							</td>
							<td>
								<center><a href=""><i class="icon-trash"></i></a></center>
							</td>
						</tr>
					</table>
				</div>
		</div>

	<div id="rodape">

	</div>

	<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</body>
</html>