<html>
<head>
	<title>Login</title>
	<script type="text/javascript" src="js/jquery.js"></script>
			<script type="text/javascript" src="../js/bootstrap.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>
			
	
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../css/principal.css">
</head>
<body>

	<div id="cabecalho">
		<font>Nome do Restaurante</font>
	</div>

	<div id="centro">
		<div id="login">

			<table>
				<tr>
					<td>	
						<label>nome de usuario</label>
						<input type="text" placehold="username" class="input-large" />
					</td>
				</tr>
				<tr>
					<td>
						<label>senha</label>
						<input type="text" placehold="username" class="input-large" />
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit" class="btn btn-success">Entrar</button>
					</td>
				</tr>
			</table>

		</div>		
	</div>

	<div id="rodape">

	</div>
</body>
</html>