<html>
<meta charset="UTF-8"></meta>
<head>
	<title>Main Menu</title>
			<script type="text/javascript" src="../js/jquery.js"></script>
			<script type="text/javascript" src="../js/bootstrap.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>
			
	
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../css/principal.css">
			<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</head>
<body>

	<div id="cabecalho">
		<font>Nome do Restaurante</font>
	</div>
<div id="centro">
	<section>
			 
			            <div id="navbar" class="navbar navbar-inverse">
			              <div class="navbar-inner">
			                  <ul class="nav" style="position: relative; left: 5%;">

				                    <li>
					                      <a href="#">
					                      	Compras
					                      </a>
				                    </li>
				   
				                    <li >
					                      <a href="#">
					                      	Vendas
					                      </a>
				                    </li>
				        
				                    <li >
					                      <a href="#">
					                      	Faturamento
					                      </a>
				                    </li>
				            
				                    <li >
					                      <a href="#">
					                   		Gerencia
					                   	  </a>
				                    </li>
				              </ul>

				               

				               
			                  
			                 
			                </div>
			              </div>
			            
			      
			        
			   </section> 
				
	</div>

	<div id="rodape">

	</div>

	<script>
				$(function(){
					$(".dropdown-toggle").dropdown();
				}); 
			</script>
</body>
</html>